
<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <div class="row natjecaj">
          
          <div class="col-md-11">
            <span>
              <span class="natjecaj-text"><a class="natjecaj-url" href="">{{natjecaj.name}}</a></span>
                                      
            </span>
            <hr />
            <span  class="natjecaj-title">{{natjecaj.name}}</span>
            <div>
              <p class="natjecaj-text" [innerHtml]="natjecaj.description"></p>
            </div>
            
          </div>
        </div>
      </div>
      
      <div style="margin-top: 60px;" *ngFor="let prijava of prijave">
        <div class="comment">
          <div class="username">
            <a routerLink="/user/comment.username">{{prijava.username}}</a>
          </div>
          <div>
            <p>{{prijava.prijavaName}}</p>
          </div>
          <b>{{prijava.prijavaName}}</b>
        </div>
        <button  class="btn btn-danger">Prihvati</button>
        <button class="btn btn-danger">Odbij</button>
        <hr />
      </div>
    </div>
      
</div>
