
<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <div class="row natjecaj">
          
          <div class="col-md-11">
            <span>
              <span class="mobilnost-text"><a class="natjecaj-url" href="">{{natjecaj.mobilnostName}}</a></span>
              <span> . Posted 
                  by
                <a *ngIf="natjecaj.userName === null" class="username" href="">Anonymous</a>
                <a *ngIf="natjecaj.userName != null" class="username" href="">{{natjecaj.userName}}</a>
              </span>                        
            </span>
            <hr />
            <a routerLink="natjecaj.url" class="natjecaj-title">{{natjecaj.natjecajName}}</a>
            <div>
              <p class="natjecaj-text" [innerHtml]="natjecaj.description"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
  </div>