<div class="sidebar">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
    <div style="text-align: center; font-size: 1em">Dobrodosli na Erasmus stranicu.</div>
    <div style="text-align: center">
        <button class="btnCreateNatjecaj" (click)="goToCreateNatjecaj()">Napravi Natjecaj</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateMobilnost" (click)="goToCreateMobilnost()">Napravi Mobilnost</button>
    </div>
</div>